.main_per{
    
    font-family: urdu-nori;
    font-weight: 900;
    font-size: 50px;
   
}
.code_by{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px!important;
    color: black;
    font-weight: 900;
    padding: 15px 0px 0px 0px;
    
}
.code_auth{
    margin-top: -100px!important;
    text-decoration: none;
    color: black;
    
}